[user]
	email = amakou0614@gmail.com
	name = softyanija
	
[alias]
  sgl = log --oneline --graph --all --decorate
  graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
  st = status
  com = commit
  co = checkout

[core]
	editor = emacs -nw